*{font-family: 'Gowun Dodum', sans-serif;}

/* mainpage style */
.preview {
  width: 100%;
}

#review-list{
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto;
  position: relative;
}

.swiper{
  width: 100%;
  position:absolute;
  margin: auto;
}
.swiper-wrapper{
  width: 960px;
  position: absolute;
  left: 0px;
}
.swiper-slide{
  width: 300px;
  margin-right: 30px;
}
.pre-card{
  height: 300px;
  width: 18rem;
}
 a {
  text-decoration: none;
  color: black;
}
.pre-card:hover{
  color: black;
  border: 3px solid gray;
}
.pre-card > .card-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* review style */
.postNav, .LoginedNav, .notLoginNav{height: 100px; display: flex;justify-content: right;}
.btn{ margin: 5px; border-radius: 20px; padding: 5px 20px; margin-left: 20px;}
.hide{ display: none;}
.post-container{
    width: 50%;
    height: 530px;
    margin: auto;
    border: 1px solid gray;
    padding: 50px 50px;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
#nickname { 
    margin-left: 10px; 
    font-size: 20px; 
    vertical-align:middle;
}
.form-floating{ margin-bottom: 25px;}

.form-floating label{ margin-left: 5px; font-size: 15px; }
#submitBtn{
    display: flex; 
    float: right; 
    border-radius: 20px; 
    padding: 5px 30px;
}
